.container {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  min-height: 5rem;
  height: 5rem;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.68);
  border: none;

  color: white;

  font-family: "Acme-Regular";

  &__detail {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    min-width: 8rem;

    color: white;

    img {
      margin-right: 0.75rem;
      height: 4rem;
    }
  }
}

a.link {
  text-decoration: none;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
