:root {
  //COLORS

  --color-primary: #0d0c2d;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-1: #d9d9d947;
  --color-gray-2: #d9d9d9;

  // FONT SIZE
  --small-font-size: 0.9rem;
  --default-font-size: 1.6rem;
}
