@import "../../../UI/styles/mixins";

.walletButton {
  color: var(--color-gray-2);
  font-size: 1.5rem;
  border: 3px solid var(--color-gray-2);
  font-family: Roboto-Medium;
  background: var(--color-gray-1);
  padding: 0.5rem 2rem;
  text-decoration: none;
  margin: 0.25rem;
  cursor: pointer;

  transition: all 0.1s ease-out;

  img {
    margin: 0 1rem 0 0;
  }

  @include respond(phone) {
    font-size: 1.5rem;
    letter-spacing: 0;
    padding: 0.75rem 1.5rem;

    border: 1px solid var(--color-white);
  }
}

.walletButton:hover {
  text-decoration: none;
  filter: brightness(0.9);
}
