@import "../../UI/styles/mixins";

.mobileArticle {
  width: 100%;
  // min-height: 50rem;
  // height: 40rem;
  min-height: 17rem;

  padding: 2rem 3.5rem;
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // @include respond(phone) {
  //   display: none;
  // }

  &:hover .flip_card_inner {
    // transform: rotateY(180deg);
  }

  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 25rem;
    }

    .flip_card {
      background-color: transparent;
      width: 100%;
      height: 100%;
      perspective: 2000px;
    }

    .flip_card_inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flip_card:hover .flip_card_inner {
      // transform: rotateY(180deg);
    }

    .flip_card_front,
    .flip_card_back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .flip_card_front {
    }

    .flip_card_back {
      // transform: rotateY(180deg);
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // padding-right: 10rem;

    text-align: start;

    line-height: 20px;
    text-transform: uppercase;
    color: var(--color-white);

    direction: ltr;

    // font-family: roboto-medium;
    font-family: "Tuffy";

    &_title {
      width: 100%;
      text-align: start;

      font-size: 1.7rem;
      margin-bottom: 0.5rem;
    }
    &_des {
      width: 100%;
      text-align: start;
      font-size: 1.2rem;
    }
  }
}
